@font-face {
  font-family: "8bitoperator";
  src:
    local("8bitoperator"),
    url("fonts/8bitoperator.otf") format("opentype"),
    url("fonts/8bitoperator.otf.woff2") format("woff2"),
    url("fonts/8bitoperator_jve.ttf") format("truetype");
}
body {
  font-family: 'Times New Roman', 'Tinos', Tahoma, '8bitoperator', 'Roboto', 'Arial', sans-serif;
  color: white;
}
#cy {  
	height: 100%; 
	width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-image: url("img/bg0089.png");
  background-size: 900px;
  background-color: rgba(0,0,0,0.5);
  background-blend-mode: multiply;
}
a { /* For links to not be formatted */
  color: inherit;
  text-decoration: none;
}
u { /* For links to not be underlined */
  color: purple;
}
h1 {
  font-family: '8bitoperator';
  font-size: 2.4em;
}
h2 {
  font-family: '8bitoperator';
  font-size: 1.7em;
  line-height: 85%;
  margin-top: .50em;
  margin-bottom: .50em;
}
h3 {
  font-family: '8bitoperator';
  column-span: all;
  font-size: 1.4em;
  margin-top: .90em;
  margin-bottom: .60em;
}
h4 {
  font-family: '8bitoperator';
  font-size: 1.3em;
  margin: 0.8em 0;
}
#wip{
  position: absolute;
  top: 60%;
  left: 50%;
  opacity: 50%;
  font-family: '8bitoperator';
  font-size: 42px;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  z-index: 1;
}
#legend {
  position: absolute;
  column-count: 2;
  column-fill: balance;
  column-gap: 10px;
  column-rule-width: 2px;
  column-rule-style: dotted;
  column-rule-color: rgb(90, 36, 82);
  bottom: 1px;
  right: 1px;
  height: 130px;
  width: 380px;
  background-color: #080808;
  outline: 1.4px solid rgb(90, 36, 82);
  line-height: 0.1;
  padding: 0px 0px 10px 10px;
  z-index: 1;
}
#footer {
  position: fixed;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  bottom: 0;
  font-size: 10px;
  font-family: Tahoma;
  opacity: 40%;
  z-index: 1;
}
#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.6); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
#closebtn{
  float: right;
  padding: 5px 0px;
  font-family: 'arial';
  font-weight: bold;
  font-size: 24px;
  color: rgb(90, 36, 82);
  cursor: pointer;
}
button {
  background-color: #080808;
  color: white;
  border: 2px solid rgb(90, 36, 82);
  padding: 10px 30px;
  text-align: center;
  display: inline-block;
  font-size: 21px;
  font-family: '8bitoperator';
  cursor: pointer;
  z-index: 1;
}
#aboutbutton {
  position: absolute;
  top: 10px;
  right: 170px;
  z-index: 1;
}
#thanksbutton {
  position: absolute;
  top: 10px;
  right: 30px;
  z-index: 1;
}
.menu{
  position: absolute;
  display: none;
  width: 420px;
  top: 50%;
  left: 50%;
  padding: 0px 24px 20px 28px;
  background-color: #080808;
  outline: 1.4px solid rgb(90, 36, 82);
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  z-index: 2;
}
#welcome{
  position: absolute;
  left: 15px;
  bottom: 10px;
  width: 375px;
  padding: 0px 14px 0px 16px;
  background-color: #080808;
  outline: 1.4px solid rgb(90, 36, 82);
  z-index: 2;
}
#motifinfo{
  position: absolute;
  display: none;
  top: 10px;
  left: 345px;
  padding: 0px 20px;
  font-family: '8bitoperator';
  font-size: 18px;
  background-color: #080808;
  outline: 1.4px solid rgb(90, 36, 82);
  color: rgb(90, 36, 82);
  z-index: 2;
}
#songinfo{
  position: absolute;
  display: none;
  left: 15px;
  top: 10px;
  width: 290px;
  padding: 15px 15px 10px 15px;
  background-color: #080808;
  outline: 1.4px solid rgb(90, 36, 82);
  z-index: 2;
}
#imgost {
  padding: 0px 0px 3px 5px;
}
#songimg {
  border: 1.3px solid #3d1f3d;
}
#songost {
  padding-inline: 10px 0px;
  font-family: '8bitoperator';
  font-size: 18px;
  color: rgb(90, 36, 82);
}
hr {
  border: none;
  border-bottom: 1.6px dotted rgb(90, 36, 82);
  margin: 0px 0px;
  padding: 0px 0px;
}
@media only screen and (max-width: 600px) {
  #welcome {
    display: none;
  }
  #legend {
    display: none;
  }
  .menu {
    position: absolute;
    height: 100%;
    width: 100%;
  }
  #motifinfo {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
  }
  #closebtn{
    font-family: 'system-ui';
  }
}