.vt323-regular {
  font-family: "8bitoperator", monospace;
}
body {
  font-family: Tahoma, Arial, sans-serif;
  color: white;
}
#cy {  
	height: 94%; 
	width: 100%;
  position:absolute;
  bottom: 0px;
  left: 0px;
  background-image: url("img/bg0089.png");
  background-size: 900px;
  background-color: rgba(0,0,0,0.4);
  background-blend-mode: multiply;
}
a { /* For links to not be formatted */
  color: inherit;
  text-decoration: none;
}
#top {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 50px;
  width: 100%;
  background-color: black;
  outline: 2px solid rgb(90, 36, 82);
  font-size: 32px;
  text-align: right;
  z-index: 1;
}
#corner {
  position: absolute;
  bottom: 2px;
  right: 2px;
  height: 100px;
  width: 300px;
  background-color: black;
  outline: 2px solid rgb(90, 36, 82);
  font-size: 16px;
  line-height: 0.1;
  padding: 0px 15px;
  z-index: 1;
}
#footer {
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
  bottom: 0;
  font-size: 10px;
  opacity: 40%;
  text-align: center;
  z-index: 1;
}
#page {
  position: absolute;
  align-items: center;
  top: 0px;
  height: 100%;
  width: 50%;
  background-color: black;
  outline: 2px solid rgb(90, 36, 82);
  font-size: 16px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
#bg {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-image: url("img/bg0089.png");
}